<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection Live Stream</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #video-container {
            position: relative;
        }
        #video-feed {
            display: block;
            margin: 0 auto;
            max-width: 640px; /* Adjust the maximum width as needed */
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="video-container">
        <h1>Object Detection Live Stream</h1>
        <img id="video-feed" src="{{ url_for('video_feed') }}">
    </div>
</body>
</html>
